target
bin
classes
checkouts
pom.xml.asc
*.jar
*.class
.lein-*
.nrepl-port

nomis-ns-graph.png
.clj-kondo/.cache
.calva
.rebl


.vscode
.ipynb_checkpoints
__pycache__
/JUPYTER_TOKEN
/logs*
/data*
/raw*
/*evaluations*
